<div class="s-login-pg">
    <form class="s-login-pg-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <s-logo class="s-login-pg-logo"></s-logo>
        <div class="s-login-pg-form-inputs">
          <label> Please login to access the page you requested </label>
          <br/>
          <md-input-container>
            <input mdInput placeholder="Username (demo)" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
            <md-hint *ngIf="f.submitted && !username.valid" class="s-err-msg" align="start">Username is required</md-hint>
          </md-input-container>
          <br/>
          <md-input-container>
            <input mdInput type="password" placeholder="Password (demo)" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
            <md-hint *ngIf="f.submitted && !password.valid" class="s-err-msg" align="start">Password is required</md-hint>
          </md-input-container>
          <br/>
        </div>
        <div class="s-hbox-align-right s-child-items-left-m-16">
          <!--
            <button type="button" md-button (click)="onSignUp()">SIGN UP</button>
            <button md-raised-button color="primary">LOG IN</button>
            -->
            <button type="button" class="btn btn-link" (click)="onSignUp()">SIGN UP</button>
            <button type="submit" class="btn btn-primary">LOG IN</button>

        </div>
        <div *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</div>
    </form>
    <s-app-footer></s-app-footer>
</div>
