/*
s-pill{
  margin:0 7px;
  color:white;
}
.s-pill-wrap{
    overflow: hidden;
    display : inline-block;
    background-color: $sw-color-white;
    cursor: pointer;
}

.s-hnav{
  height:100%;
  position:relative;
  .s-hnav-wrap{
    display:flex;
    height:100%;
      .s-nav-item {
        display:flex;
        align-items: center;
        padding :0 5px;
        .s-nav-label{
          align-self: flex-end;
          padding: 10px 5px;
          cursor: pointer;
        }
      }
  }

  .s-hnav-inkbar{
    position:absolute;
    border:1px solid $sw-color-primary;
    background-color: $sw-color-primary;
    height:1px;
    bottom:0;
    transition: width 0.3s, left 0.3s;
  }
}

.s-new-flex-row {
  flex-flow: row wrap;
}

 //Sidebar Styles
.s-sidebar {
  overflow: auto;
  pointer-events: none;
  position: fixed;
  z-index: 99999999;
  background:$sw-color-soft-white;
}
.s-sidebar--left {
  bottom: 0;
  left: 0;
  top: 0;
}
.s-sidebar--right {
  bottom: 0;
  right: 0;
  top: 0;
}
.s-sidebar--top {
  left: 0;
  right: 0;
  top: 0;
}
.s-sidebar--bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.s-sidebar--style {
  background: #fff;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}
.s-sidebar__overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 99999998;
}
.s-sidebar__overlay--style {
  background: #000;
  opacity: 0.75;
}


//Alerts Page
.s-alerts{
  box-sizing:border-box;
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;
  justify-content: flex-start;
  overflow:hidden;
  
  .s-alerts-hbar, .s-alerts-fbar{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:start;
    border: 1px solid black;
    background:#333;
    color:#fff;
    height:40px;
  }
  .s-alerts-left-icon, .s-alerts-right-icon{
    margin:5px 10px;
    overflow:hidden;
    cursor:pointer;
    transition: width 0.3s;
  }
  .s-alerts-text{
    flex:1;
    line-height:40px;
    overflow:hidden;
  }
  .s-alerts-body{
    display:flex;
    flex-direction:row;
    flex:1;
    position:relative;
    align-items: stretch;
  }
  
  .s-alerts-page1, .s-alerts-page2{
    position:absolute;
    width:100%;
    padding:5px;
    border: 1px solid blue;
    transition: left 0.3s;
  }
  
}
*/