//Fonts
$s-f-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
//$md-font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$md-font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
$s-f1-size: 24px;
$s-f2-size: 20px;
$s-f3-size: 18px;
$s-f4-size: 16px;
$s-f5-size: 14px;
$s-f6-size: 12px;
$s-f-body-size: 12px;
$s-f-tiny-size: 10px;
$s-f-small-size : 16px;
$s-f-medium-size: 24px;
$s-f-large-size : 32px;

$s-c-color1:rgb(246,167,55);
$s-c-color2:rgb(20,73,113);
$s-c-color3:rgb(242,83,18);


//************ Theme Properties ******************
$sw-theme      : base ;
$s-c-scheme    : light;   // Possible Values are dark, light, gray
$include-opera : false;
$include-ie    : false;
$include-rtl   : false;

//****************** Color Scheme ********************

//Theme Colors
$s-c-sonic-blue   : #005d84;
$s-c-primary      : #E3642B; // Orange Accent
$s-c-standard     : #ffffff;
$s-c-gray         : #AAAAAA;
$s-c-gray-logo    : #63666A;
$s-c-white        : #ffffff;
$s-c-soft-white   : whitesmoke;
$s-c-soft-blue    : #2eadf5;
$s-c-soft-red     : #e44959;
$s-c-soft-green   : #9cc96b;
$s-c-purple       : rgb(134,0,82);// #91489e;
//Warning Colors
$s-c-negative  : #CE1126; //critical
$s-c-alert     : #E3642B;
$s-c-warning   : #FFCC00;
$s-c-positive  : #6EA204;
$s-c-info      : #005d84;



//Text Colors
$s-c-text         : #333;  // Main Text color used in most places
$s-c-opposite-text: #eee;  // Text Color used on contrasting backgrounds such as buttons/tabs
$s-c-disable-text : gray;  // Text Color used for displaying less emphasized text (eg:detail chart axis color)
$s-c-ghost-text   : #777;  // Text Color used displaying less emphasized text     (eg:ghost text)
$s-c-light-text   : #eee;  // Text Color to be used on coloured background
$s-c-dark-text    : #333;  // Text Color to be used on light coloured background
$s-c-link-text    : #0000ee;

//Backgrounds
$s-bg-main       : #ffffff; // Main Body Background Color
$s-bg-alt        : $s-c-soft-white;    // Alternate Body Background (Such as Windows, Panels, Dropdowns)
$s-bg-opposite   : #32404e;
$s-bg-gray       : #E2E2E2;
$s-bg-white      : #fff;
$s-bg-accent     : $s-c-primary ;       // Main Body Background Color


//Borders
$sw-bd               : #aaa;
$sw-alt-bd           : lighten($sw-bd,10);  // Alternate border is used for giving engrave effects (should be lighter than the main border)
$sw-light-bd         : lighten($sw-bd,15);
$sw-dark-bd          : darken($sw-bd,15);
$sw-border-radius    : 0;
$sw-alt-border-radius: 2px;

//Status Colors
$s-c-good      : $s-c-positive;
$s-c-warning   : #F2AF00;
$s-c-error     : $s-c-negative;
$s-c-info      : $s-c-soft-blue;

//Panel Header Icon sizes
$sw-header-icon-width : 24px;
$sw-header-icon-height: 24px;
