[project]
	description = A Springboot REST API and Angular2 Frontend
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mrinmoy (mrin9)
[access "refs/for/refs/*"]
	read = group user/Mrinmoy (mrin9)
	push = group user/Mrinmoy (mrin9)
	label-Code-Review = -2..+2 group user/Mrinmoy (mrin9)
	label-Verified = -1..+1 group user/Mrinmoy (mrin9)
	rebase = group user/Mrinmoy (mrin9)
	removeReviewer = group user/Mrinmoy (mrin9)
	submit = group user/Mrinmoy (mrin9)
[access "refs/heads/*"]
	read = group user/Mrinmoy (mrin9)
	create = group user/Mrinmoy (mrin9)
	push = +force group user/Mrinmoy (mrin9)
	pushMerge = group user/Mrinmoy (mrin9)
[access "refs/tags/*"]
	push = group user/Mrinmoy (mrin9)
	push = +force group user/Mrinmoy (mrin9)
