@import '../../../../assets/scss/var/var';
.s-alerts{
  box-sizing:border-box;
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;
  justify-content: flex-start;
  align-items:stretch;
  overflow:hidden;

  .s-alerts-hbar, .s-alerts-fbar{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    //justify-content:start;
    justify-content:space-between;
    border: 1px solid black;
    background:#333;
    color:#fff;
    height:64px;
  }
  .s-alerts-left-icon, .s-alerts-right-icon{
    margin:5px 10px;
    overflow:hidden;
    cursor:pointer;
    transition: width 0.3s;
  }
  .s-alerts-head-text{
    flex:1;
    line-height:40px;
    overflow:hidden;
  }
  .s-alerts-body{
    display:flex;
    flex-direction:row;
    flex:1;
    position:relative;
    align-items: stretch;
    justify-content:stretch;
  }

  .s-alerts-page1, .s-alerts-page2{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:flex;
    margin:16px;
    background-color: $s-c-soft-white;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:stretch;
    overflow: hidden;
    transition: left 0.3s ;

  }
  .s-alerts-page1{

  }

  .s-alerts-page2{
  }

  .s-alert-opions{
   // width:100%;
  }

  .s-section-head{
    //width:100%;
    margin:16px 0 4px 0;
    color:$s-c-color3;
    font-size:$s-f-small-size;
  }
  .s-section-body{
   // width:100%;
  }

  .md-slide-toggle{
    margin:8px 0;
  }

}
