<div class="s-policy-pg">


  <ngx-datatable
  style='width:1000px;'
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="45"
  [rowHeight]="'auto'"
  [columnMode]="'standard'"
  [scrollbarV]="false"
  >
  </ngx-datatable>
</div>


<!-- Cell Templates -->

<template #severityTpl let-row="row" let-value="value" let-i="index">
  <!-- s-badge [text]=value [badgeCls]="'s-badge-'+value"></s-badge -->
  <clr-dropdown [clrMenuPosition]="((row.$$index > rows.length-4)?'top-right':'bottom-right')">
      <span  clrDropdownToggle>
        <s-badge [text]=value [badgeCls]="'s-badge-'+value"></s-badge>
        <clr-icon shape="caret down"></clr-icon>
      </span>
      <div class="dropdown-menu">
          <label class="dropdown-header">Change to:</label>
          <button clrDropdownItem *ngIf="value !== 'Critical'" (click)="severityChanged($event, value, row, 'CRITICAL','Critical')"><div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-critical"></div>Critical</button>
          <button clrDropdownItem *ngIf="value !== 'Alert'"    (click)="severityChanged($event, value, row, 'ALERT','Alert')">      <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-alert">   </div>Alert   </button>
          <button clrDropdownItem *ngIf="value !== 'Warning'"  (click)="severityChanged($event, value, row, 'WARNING','Warning')">  <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-warning"> </div>Warning </button>
          <button clrDropdownItem *ngIf="value !== 'Info'"     (click)="severityChanged($event, value, row, 'INFO','Info')">        <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-info">    </div>Info    </button>
      </div>
  </clr-dropdown>
</template>

<template #stateTpl let-row="row" let-value="value" let-i="index">
  <md-slide-toggle (change)="stateChanged($event, value, row)"  [checked]="value==='Active'"></md-slide-toggle>
  <span style="vertical-align:top">{{value}}</span>
</template>

<template #ruleTpl let-row="row" let-value="value" let-i="index" >
  <div *ngFor="let v of value">
      {{v.fieldName}} {{v.operator}} {{v.value1}}
  </div>
</template>

<template #policyIdTpl let-row="row" let-value="value" let-i="index">
  <a routerLink="/home/policy-detail/{{value}}" attr.data-itemid="{{value}}">{{value}}</a>
</template>


