@import '../assets/scss/var/var';

.s-home-pg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  //min-height: 100vh;
  background-color: $s-c-soft-white;
  min-height: calc(100vh - 64px);  /* this leaves space for the haader or sticky footer */
}


.s-home-pg-logo{
  width : 40px;
  padding-top:10px;
  margin: 0 24px 0 16px;
}

#s-main-toolbar{
  background-color: white;
}
