<div class="s-signup-pg">
  <div class="s-signup-pg-top-bar">
    <div class="s-signup-back-btn" (click)="onBack()"> <md-icon>arrow_back </md-icon> BACK TO LOG IN </div>
  </div>
  <div style="height:100px; width:100%;"></div>
  <s-logo style="width:300px" class="s-signup-pg-logo"></s-logo>
  <div class="s-step-row">
    <ng-container *ngFor="let idx = index; let isFirst = first; let isLast = last; let step of wizSteps">
        <div class="s-step"
            [class.s-step-first]="isFirst"
            [class.s-step-last]="isLast"
            [class.s-step-done]="step.status=='done'"
            [class.s-step-active]="step.status=='active'"
            [class.s-step-pending]="step.status=='pending'"
        >
          <div class="s-step-circle">
            <md-icon *ngIf="step.status =='done'">done</md-icon>
            <div *ngIf="step.status !='done'">{{idx+1}}</div>
          </div>
          <div class="s-step-text"> {{step.itemDescr}} </div>
        </div>
        <div *ngIf="isLast == false" class="s-step-line"> </div>
    </ng-container>
  </div>

  <!--
  <div class="s-step-row">
      <div class="s-step s-step-first s-step-done">
        <div class="s-step-circle"> <md-icon>done</md-icon> </div>
        <div class="s-step-text"> Company Info </div>
      </div>
      <div class="s-step-line"> </div>
      <div class="s-step s-step-active">
        <div class="s-step-circle"> 2 </div>
        <div class="s-step-text"> Your Account</div>
      </div>
      <div class="s-step-line"> </div>
      <div class="s-step s-step-last s-step-pending">
        <div class="s-step-circle"> 3 </div>
        <div class="s-step-text"> Verify </div>
      </div>
  </div>
  -->
  <form class="s-main-content-box" [formGroup]="frmSignUp" (ngSubmit)="submitSignUpForm()" novalidate>

    <!-- PAGE1 -->
    <div *ngIf="wizSteps[0].status=='active'" class="s-signup-pg1">
        <h2> {{invitedByCompanyName}} </h2>
        <div *ngIf="acceptInvite==false">
          <p>would like to grant you access to their account. If you have questions you may reach them at {{invitedByCompanyPhone}}. </p>
          <p>Please fill the company contact information below to begin the process.</p>
        </div>

        <div *ngIf="acceptInvite==true">
          <p>has invited you to create an account. If you have questions you may reach them at {{invitedByCompanyPhone}}.</p>
          <p>Please fill the company contact information below to begin the process.</p>
        </div>

        <div class="s-signup-inputs">
          <ng-container *ngIf="acceptInvite==false">
            <div class="s-hbox-align-right s-child-items-left-m-16">
              <button type="button" md-button (click)="onDeclineAccess()">DECLINE</button>
              <button type="button" md-raised-button color="primary" (click)="onAcceptAccess()">ACCEPT ACCESS</button>
            </div>
          </ng-container>
          <ng-container *ngIf="acceptInvite">
            <fieldset formGroupName="frmCompany">
              <md-input-container style="width:100%">
                <input mdInput placeholder="Company Name" formControlName="company" required/>
                <md-hint *ngIf="(frmSignUp.controls.frmCompany.controls.company.touched && frmSignUp.controls.frmCompany.controls.company.valid==false)" class="s-err-msg" align="start">Company name is required</md-hint>
              </md-input-container>

              <md-input-container  style="width:100%">
                <input mdInput placeholder="Phone number" formControlName="phone" required/>
                <md-hint *ngIf="(frmSignUp.controls.frmCompany.controls.phone.touched && frmSignUp.controls.frmCompany.controls.phone.valid==false)" class="s-err-msg" align="start">Phone number is required</md-hint>
              </md-input-container>

              <md-input-container  style="width:100%">
                <input mdInput placeholder="Address" formControlName="address1" required/>
                <md-hint *ngIf="(frmSignUp.controls.frmCompany.controls.address1.touched && frmSignUp.controls.frmCompany.controls.address1.valid==false)" class="s-err-msg" align="start">Address number is required</md-hint>
              </md-input-container>

              <md-input-container style="width:100%">
                <input mdInput placeholder="Address Line 2" formControlName="address2"/>
                <md-hint *ngIf="(frmSignUp.controls.frmCompany.controls.address1.touched && frmSignUp.controls.frmCompany.controls.address1.valid==false)" class="s-err-msg" align="start">Address number is required</md-hint>
              </md-input-container>

              <md-input-container style="width:100%">
                <input mdInput placeholder="Country" formControlName="country"/>
                <md-hint *ngIf="(frmSignUp.controls.frmCompany.controls.country.touched && frmSignUp.controls.frmCompany.controls.country.valid==false)" class="s-err-msg" align="start">Country is required</md-hint>
              </md-input-container>

              <md-input-container style="width:100%">
                <input mdInput placeholder="Postal code" formControlName="postal" required/>
                <md-hint *ngIf="(frmSignUp.controls.frmCompany.controls.postal.touched && frmSignUp.controls.frmCompany.controls.postal.valid==false)" class="s-err-msg" align="start">Postal code number is required</md-hint>
              </md-input-container>

              <div class="s-hbox-align-right">
                <!--button type="button" md-raised-button color="primary" (click)="gotoPage2()" [disabled]="(frmSignUp.controls.frmCompany.valid==false)">CONTINUE</button -->
                <button type="button" md-raised-button color="primary" (click)="gotoPage2()">CONTINUE</button>
              </div>
            </fieldset>
          </ng-container>
        </div>
    </div>

    <!--PAGE2 -->
    <div *ngIf="wizSteps[1].status=='active'" class="s-signup-pg2">
      <fieldset class="s-signup-inputs" formGroupName="frmPersonalInfo" >

        <md-input-container style="width:100%">
          <input mdInput placeholder="First Name" formControlName="firstName" required/>
          <md-hint *ngIf="(frmSignUp.controls.frmPersonalInfo.controls.firstName.touched && frmSignUp.controls.frmPersonalInfo.controls.firstName.valid==false)" class="s-err-msg" align="start">First name is required</md-hint>
        </md-input-container>

        <md-input-container style="width:100%">
          <input mdInput placeholder="Last Name" formControlName="lastName" required/>
          <md-hint *ngIf="(frmSignUp.controls.frmPersonalInfo.controls.lastName.touched && frmSignUp.controls.frmPersonalInfo.controls.lastName.valid==false)" class="s-err-msg" align="start">Last name is required</md-hint>
        </md-input-container>

        <md-input-container style="width:100%">
          <input mdInput placeholder="Title" formControlName="title"/>
        </md-input-container>

        <div class="s-form-sub-section">Login Information</div>
        <md-input-container style="width:100%">
          <input mdInput placeholder="Email" formControlName="email" required/>
          <md-hint  *ngIf="(frmSignUp.controls.frmPersonalInfo.controls.email.touched && frmSignUp.controls.frmPersonalInfo.controls.email.valid==false)" class="s-err-msg" align="start">Email is required</md-hint>
        </md-input-container>

        <md-input-container style="width:100%">
          <input mdInput placeholder="Password" formControlName="password" required/>
          <md-hint align="start">AT least 8 charecters, and no more than 30</md-hint>
          <md-hint *ngIf="(frmSignUp.controls.frmPersonalInfo.controls.password.touched && frmSignUp.controls.frmPersonalInfo.controls.password.valid==false)" class="s-err-msg" align="start">Password is required  and must be between 8 and 30 charecters in length</md-hint>
        </md-input-container>

        <div class="s-form-sub-section">Secret question, for password recovery</div>
        <md-input-container style="width:100%">
          <input mdInput placeholder="Your question" formControlName="secretQuestion" required/>
          <md-hint *ngIf="(frmSignUp.controls.frmPersonalInfo.controls.secretQuestion.touched && frmSignUp.controls.frmPersonalInfo.controls.secretQuestion.valid==false)" class="s-err-msg" align="start">Secret question is required</md-hint>
        </md-input-container>

        <md-input-container style="width:100%">
          <input mdInput placeholder="Your answer" formControlName="secretAnswer" required/>
          <md-hint *ngIf="(frmSignUp.controls.frmPersonalInfo.controls.secretAnswer.touched && frmSignUp.controls.frmPersonalInfo.controls.secretAnswer.valid==false)" class="s-err-msg" align="start">Secret answer is required</md-hint>
        </md-input-container>

        <div class="side-by-side">
          <label class="s-slider-label">I'm interested in beta testing new products</label>
          <md-slide-toggle color="primary" formControlName="enableBetaTesting"></md-slide-toggle>
        </div>
        <div class="side-by-side">
          <label class="s-slider-label">Email me security renewal notice</label>
          <md-slide-toggle color="primary" formControlName="enableRenewal" ></md-slide-toggle>
        </div>

        <p>By clicking continue, you acknowledge and agree that you have read and accepted the <span style="">End User Product Agreementand</span> the conditions for use</p>

        <div class="s-hbox-align-right s-child-items-left-m-16">
          <button type="button" md-button (click)="gotoPage1()">BACK</button>
          <button type="button" [disabled]="frmSignUp.controls.frmPersonalInfo.valid==false"
                  md-raised-button color="primary" (click)="gotoPage3()">CONTINUE</button>
        </div>
      </fieldset>
    </div>
  </form>

  <!--PAGE3 -->
  <div *ngIf="wizSteps[2].status=='active'" class="s-signup-pg3">
    <div class="s-main-content-box s-signup-inputs">
      <!-- Before Email Verification -->
      <ng-container *ngIf="emailVerified==false">
        <h2>Check your email </h2>
        <p>An email has been sent to <span style="font-weight:bold">{{frmSignUp.email}}</span>. Please check the verification link, or paste the verification code below.</p>
        <p>If you did not receive a verification email, please contact support</p>

        <md-input-container style="width:100%">
          <input mdInput placeholder="Verification code" name="verificationCode" [(ngModel)]="frmSignUp.verificationCode" #verificationCode="ngModel" required/>
          <!-- md-hint *ngIf="f.submitted && !verificationCode.valid" class="s-err-msg" align="start">Verification code is required</md-hint -->
        </md-input-container>

        <div class="s-hbox-align-right s-child-items-left-m-16">
          <button type="button" md-button (click)="gotoPage2()">BACK</button>
          <button type="button" md-raised-button color="primary" (click)="finish()">DONE</button>
        </div>
      </ng-container>

      <!-- After Email Verification -->
      <ng-container *ngIf="emailVerified==true">
        <h2 class="s-hbox-align-center">Thank you </h2>
        <p class="s-hbox-align-center">Your email is verified. You may now log into your account.</p>
        <div class="s-hbox-align-center">
          <button type="button" md-raised-button  (click)="gotoLogin()">LOG IN NOW</button>
        </div>
      </ng-container>
    </div>
  </div>

  <s-app-footer style="z-index:1"></s-app-footer>

</div>
