@import '../../../../assets/scss/var/var';

.s-signup-pg {
  //position:fixed;
  //top:0px;
  //left:0px;
  width:100%;
  background-color:$s-bg-main;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  //min-height: -webkit-max-content;
  overflow:auto;

  .s-signup-pg-top-bar{
    position:fixed;
    top:0px;
    left:0px;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: $s-c-primary;
    display:flex;
    align-items:center;
    width:100%;
    height:30px;
    color:$s-c-gray-logo;
    margin:0;
    padding:16px;

    .s-signup-back-btn{
      display:flex;
      align-items:center;
    }
    .s-signup-back-btn:hover{
      cursor: pointer;
      color:$s-c-text;

    }
  }

  .s-signuo-pg-logo{
    width:300px;
    margin-top:100px;
    padding-bottom: 50px;
  }

  // Small Phone
  @media (min-width:320px){
    .s-step-row{
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap : nowrap;
      margin-top: 30px;
      width:288px;
    }
    .s-step.s-step-first{justify-content: center;}
    .s-step.s-step-last {justify-content: center;}

    .s-main-content-box {
      width : 288px;
      margin: 8px 0 32px 0;
    }
    .s-slider-label{
      max-width:230px;
    }


  }

  // Big Phones (or small tablets)
  @media (min-width:481px){
    .s-step-row{
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap : nowrap;
      margin-top: 30px;
      width:448px;
    }
    .s-step.s-step-first{justify-content: flex-start;}
    .s-step.s-step-last {justify-content: flex-end;}

    .s-main-content-box {
      width : 400px;
      margin: 8px 0 40px 0;
    }
    .s-slider-label{
      max-width:320px;
    }

  }

  .s-step{
    display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: center;
    .s-step-circle{
      width:32px;
      height:32px;
      border-radius: 16px;
      background-color: $s-c-sonic-blue;
      color:$s-c-white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin:5px;
    }
    &.s-step-done .s-step-circle{
      background-color: $s-c-sonic-blue;
    }
    &.s-step-active .s-step-circle{
      background-color: $s-c-sonic-blue;
    }
    &.s-step-pending .s-step-circle{
      background-color: $s-c-gray;
    }

  }

  .s-step-line{
    flex:1;
    height:0;
    border:1px solid $s-c-gray;
    z-index: 0;
    margin: 0 5px;
  }

  .s-signup-inputs md-input {
    width:100%;
    margin-top: 20px;
  }


  .s-hbox-align-right{
    margin-top:60px;
  }

  .s-form-sub-section {
    color:$s-c-primary;
    margin:40px 0 0 0;
  }

  .side-by-side{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }

}

