@import '../../../../assets/scss/var/var';
.s-incidents-pg {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:1200px;
  margin: 0px;
  .s-incidents-pg-row{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:16px;
    margin:0;
    .s-incidents-info-bar{
      display:flex;
      justify-content:space-between;
      button{outline:none;}
    }

  }

  md-slide-toggle{
    margin:0 !important;
  }

}


