

<div class="s-incidents-pg">
  <div class="s-incidents-pg-row">
    <div class="s-incidents-info-bar">
      <clr-dropdown [clrMenuPosition]="'right-bottom'">
        <button class="btn btn-sm btn-primary"clrDropdownToggle>
          Filter
          <clr-icon shape="caret right"></clr-icon>
        </button>
        <div class="dropdown-menu">
            <label class="dropdown-header">By severity</label>
            <button clrDropdownItem > <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-critical"></div>Critical</button>
            <button clrDropdownItem > <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-alert"   ></div>Alert   </button>
            <button clrDropdownItem > <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-warning" ></div>Warning </button>
            <button clrDropdownItem > <div style="margin: 0 4px 0 -10px" class="s-severity-box s-severity-info"    ></div>Info    </button>
            <div class="dropdown-divider"></div>
            <label class="dropdown-header">By status</label>
            <button clrDropdownItem > New         </button>
            <button clrDropdownItem > In Progress </button>
            <button clrDropdownItem > Resolved    </button>
            <button clrDropdownItem > Dismissed   </button>
          </div>
      </clr-dropdown>
      <s-legend [legend]="incidentBySeverityChartData" ></s-legend>
    </div>
    <ngx-datatable
      style='height:450px; width:100%;'
      [rows]="rows"
      [columns]="columns"
      [headerHeight]="45"
      [rowHeight]="36"
      [footerHeight]="45"
      [columnMode]="'standard'"
      [scrollbarV]="true"
      >
      <!--
          <ngx-datatable-column prop="incidentId" name="Incident"    [width]="70"  class="datagrid-column">   </ngx-datatable-column>
          <ngx-datatable-column prop="detectedOn" name="Detected On" [width]="130" class="datagrid-column">   </ngx-datatable-column>
          <ngx-datatable-column prop="policyId"   name="Policy ID"   [width]="100" class="datagrid-column">   </ngx-datatable-column>
          <ngx-datatable-column prop="policyType" name="Policy"      [width]="210" class="datagrid-column">   </ngx-datatable-column>
          <ngx-datatable-column prop="status"     name="Status"      [width]="110" class="datagrid-column">   </ngx-datatable-column>
          <ngx-datatable-column prop="severity"   name="Severity"    [width]="110" class="datagrid-column">   </ngx-datatable-column>
          <ngx-datatable-column prop="customerName"  name="Customer"       [width]="100" class="datagrid-column"></ngx-datatable-column>
          <ngx-datatable-column prop="platformName"  name="Platform"       [width]="110" class="datagrid-column"></ngx-datatable-column>
          <ngx-datatable-column prop="platformUser"  name="Offending User" [width]="120" class="datagrid-column"></ngx-datatable-column>
          <ngx-datatable-column prop="ownerEmail"    name="Owner"          [width]="350" class="datagrid-column">
                <template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span [innerHTML]="row['ownerName'] +' <span> ' + value + '</span>' "></span>
                </template>
          </ngx-datatable-column>
        -->
      </ngx-datatable>
  </div>
</div>

<template #severityCellTpl let-row="row" let-value="value" let-i="index">
  <s-badge [text]=value [badgeCls]="'s-badge-'+value"></s-badge>
</template>
<template #statusCellTpl let-row="row" let-value="value" let-i="index">
  <s-badge [text]=value [badgeCls]="'s-badge-'+value"></s-badge>
</template>





