<div class="policy-detail-pg">

  <form [formGroup]="frmPolicyDetail" novalidate>
    <span style="font-size:18px; color:#006A91"> Policy:{{policyId}} </span>
    <md-slide-toggle style="width:130px;" color="primary" [checked]="isPolicyActive"> {{isPolicyActive?"Active":"Inactive"}}</md-slide-toggle>
    <br/>
    <clr-tabs>
        <clr-tab-link >Policy Details</clr-tab-link>
        <clr-tab-link> Rules  </clr-tab-link>
        <clr-tab-link> Actions</clr-tab-link>

        <clr-tab-content [clrTabContentId]="'policyDetail'">
          <div class="policy-tab">
              <md-input-container style="width:180px">
                <label>Policy Name</label>
                <input mdInput formControlName="policyName"  required/>
              </md-input-container>
              <md-input-container style="width:180px">
                <label>Policy Type</label>
                <input mdInput formControlName="policyType" required/>
              </md-input-container>
              <md-input-container style="width:180px">
                <label>Severity</label>
                <input mdInput formControlName="severity" required/>
              </md-input-container>

              <div class="s-hbox-align-right s-child-items-left-m-16">
                <button class="btn btn-link" (click)="navigateBack()"> Back </button>
                <button class="btn btn-primary" (click)="opened = true"> Update Changes </button>
              </div>
          </div>
        </clr-tab-content>

        <clr-tab-content [clrTabContentId]="'contentRule'">
            <div class="policy-tab">
                <table class="table" style="width:100%;">
                  <thead>
                    <tr>
                      <th class="left" style="width:420px;">Rules/Condition</th>
                      <th class="left" style="width:120px;">Field</th>
                      <th style="width:100px;">Operator</th>
                      <th class="left">Value</th>
                      <th colspan="2">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let r of policyRecord.rules">
                      <td class="left">{{r.ruleName}}: {{r.condition}}</td>
                      <td class="left">{{r.fieldName}}</td>
                      <td>{{r.operator}}</td>
                      <td class="left">{{r.value1}}</td>
                      <td style="width:40px;"><clr-icon shape="edit"  class="is-info"></clr-icon></td>
                      <td style="width:40px;"><clr-icon shape="trash" class="is-error"></clr-icon></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </clr-tab-content>
        <clr-tab-content [clrTabContentId]="'policyAction'">
            <div class="policy-tab">
                <p>Policy Actions</p>
            </div>
        </clr-tab-content>
    </clr-tabs>
  </form>
</div>

<clr-modal [(clrModalOpen)]="opened">
    <h3 class="modal-title">Functionality Pending...</h3>
    <div class="modal-body">
        <p>This peice of code is still pending for development</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="opened = false">Ok</button>
    </div>
</clr-modal>

