@import '../../../assets/scss/var';
.s-page-not-found {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  display:flex;
  align-items: center;
  padding:15px;
  background-color: $s-c-primary ;
  color:$s-c-inverse-text;
  font-size: $s-f-medium-size;
}
